/* Header **/
:root {
  --nav-color: #000; 
  --light-gray: #AAABBB;
  --middle-section-bg: #fff;
  --button-color: #4c5baf;
}
header{
    background-color: var(--nav-color);
    z-index:6000000;
    position: relative;
    width: 100%;
    min-height: 55px;
    padding-top: -100px;
  }
  
  header a{
    color:white;
    text-decoration:none;
    font-size:22px;
    text-align: center;
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 15px;
  }
  
  header .container #logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
  }
  
  header nav{
    float:right;
    margin-top: 3 20;
    text-align: center;
  }
  
  header .highlight, header .current a{
    color: var(--light-gray);
  }
  
  header .reg {
    border: white 1px solid;
    padding: 10px;
  }
  
  header a:hover{
    color: var(--light-gray);
    /* font-family: 'ABeeZee'; */
  }
.menu-button{
  visibility: hidden;
  border: none;
  border-radius: 2px;
  transition: 0.5s ease-out;
  background-color: rgb(250, 253, 253);
  
}
.menu-button:hover{
  border-radius:5px;
  transition: 0.5s ease-out;
  background-color: rgb(212, 212, 212);
}
.menu-button:focus{
 outline:none;
}

  @media screen and (max-width: 800px) {
    header nav{
      visibility: hidden;
    }
    .menu-button{
      visibility:visible ;
      width: 2.5rem;
      float: right;
      display: block;
      margin-top:10px;
      
    }
  }