body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
}

a{
    outline: none;
}

.header{
    margin-left: 220px; 
}

header .wrapper{
    background-color: #444;
    height: 70px;

}

.navbar div{
    float: right;
    margin-top: 11px;
}
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.navbar button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.logo {
    color: orange;
    float: left;
    margin-left: 5%;
    font-size: 1.5em;
}
.logo h3{
    vertical-align: middle;
    margin-top: 20px;
}

.list{
    float: right;
    margin-right: 10%;
}

.list li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    background-color: white;
    
}


.sidenav {
    /* visibility: hidden; */
    /* display: inline-block; */
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    background-color: #444;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    /* float: left; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:first-child {
   margin-top: 30px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.prof-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.prof-pic-wrapper{
  background: url(../Images/register_bg.jpeg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;

}

.section-A{
    margin-left: 220px;
    padding: 1px 20px;
    background-color: red;
    position: relative;
}

.section-A .sect-A-wrapper{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    text-align: left;

}

.section-A .sect-A-wrapper h2{
    margin-bottom: 2px;
}

 .section-A .sect-A-wrapper h4{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     margin-top: 0px;
}

.edit-profile{
    border: none;
    color: white;
    background-color: green;
    float: right;
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
}

.edit-profile:hover{
    background-color: white;
    color: green;
    cursor: pointer;
}

.collections{
    float: right;
    width: 40%;
}

.section-B{
    float: left;
    margin-left: 220px;
    padding: 20px;
    background-color: gray;
    position: relative;
    height: 75vh;
    color: white;
}

.section-B fieldset{
    border: forestgreen 2px solid;
    border-radius: 5px;
    width: 50%;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
}

.section-B legend{
    font-size: 22px;
    color: springgreen;
}

.section-B b{
    width: 110px;
    display: inline-block;
    padding: 7px;
}


.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px;
    border: none;
    text-align: left;
    line-height: 34px;
    border-radius: 25px;
    font-size: 16px;
    color: #FFF;
  }

  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}   



