body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    padding: 0px;
}

.header{
    margin-left: 220px; 
}

header .wrapper{
    background-color: navy;
    height: 70px;
}

.logo {
    color: orange;
    float: left;
    margin-left: 15%;
}

.list{
    float: right;
    margin-right: 10%;
}

.list li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    background-color: red;
    
}


.sidenav {
    /* visibility: hidden; */
    /* display: inline-block; */
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    background-color: #333;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    /* float: left; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:first-child {
   margin-top: 30px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.prof-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.prof-pic-wrapper{
  background: url(../Images/register_bg.jpeg) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;

}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}