body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(../images/register_bg.jpeg);
  background-size:     cover;                      <------
  background-repeat:   no-repeat;
  background-position: center center; 
}

* {
  box-sizing: border-box;
}

#form {
  width: 25em;
  margin: auto;
  margin-top: 5%;
  opacity: 0.98;
}
#form:hover{
    opacity: 1;
}

#form form{
    border:1px solid #ccc;
    border-radius: 30px;
    background-color: white;
}

.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -50px;
    left: 170px;
}

.tooltip .tooltiptext.last{
  top: -47px;
}


/* Add the arrow */
.tooltip .tooltiptext::after { 
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: #67a37e 1px solid;
  border-radius: 20px;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  /* float: left; */
  width: 100%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown-select {
  margin: 5px 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border: #67a37e 1px solid;
  border-radius: 10px;
  color: #444;
  background-color: #f1f1f1;
  opacity: 0.7;
  
}

select:focus {
    outline: none;
}



/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 600px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }

  body{
    overflow-x: hidden;
    width: 100%;
    background-size:     auto;
  }

   #form{
       width: 96%;
       margin: 0;
   }


}

@media screen and (max-width: 400px) {

  .tooltip .tooltiptext{
    left: 110px;
  }

}

@media screen and (min-height: 1000px) {

    body{
      font-family: Arial, Helvetica, sans-serif;
      background: url(../images/register_bg.jpeg);
      background-size:     auto;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center ; 
    }



}
