:root {
  --nav-color: #000; 
  --light-gray: #AAABBB;
  --middle-section-bg: #fff;
  --button-color: #4c5baf;
}

body{
  margin: 0px;
	font-size: 17px;
  font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
  
}

/* Global */
.container{
  position: relative;
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color: var(--light-gray);
}

.dark{
  padding:15px;
  background: var(--light-gray);
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background-color: var(--nav-color);
  z-index:60;
  position: fixed;
  width: 100%;
  min-height: 55px;
  padding-top: -100px;
}

header a{
  color:white;
  text-decoration:none;
  font-size:22px;
  text-align: center;
  font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

header li{
  float:left;
  display:inline;
  padding: 15px;
}

header .container #logo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
}

header nav{
  float:right;
  margin-top: 3 20;
  text-align: center;
}

header .highlight, header .current a{
  color: var(--light-gray);
}

header .reg {
  border: white 1px solid;
  padding: 10px;
}

header a:hover{
  color: var(--light-gray);
  /* font-family: 'ABeeZee'; */
}


.buttonexplore, .buttonsingup{
  text-align: center;
  cursor: pointer;
   color:white;
  font-size:26px;
  margin: 50px 20px;
  font-family: 'Allerta Stencil';
  width: 170px;
  padding: 13px;
}

.buttonexplore {
  border: initial;
	border-width: 0 7px;
  box-sizing: border-box;
  background-color:var(--button-color);
  border-radius:20px;
  transition: all 0.5s;
}


.buttonexplore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonexplore span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonexplore:hover span {
  padding-right: 25px;
}

.buttonexplore:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonsingup {
  position: relative;
  background-color: #fff;
  border: initial;
	border-width: 0 7px;
  box-sizing: border-box;
  border-radius:20px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  font-family: 'Allerta Stencil';
  color:black;

}

.buttonsingup:hover{
 background:var(--button-color);
 box-shadow:0px 2px 15px 5px white;
 color:white;
}


/* Showcase */
#showcase{
  min-height:50vh;
  background:url('https://images.pexels.com/photos/371836/pexels-photo-371836.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') fixed;
  text-align:center;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  padding-top:100px;
  color: white;
}

#showcase h1{
  font-size:55px;
  padding: 0px;
  margin: 10px;
}

#showcase p{
  font-size:20px;
}
#showcase .container{
  padding:0px;
}

/*Portofoliu*/

.middle-section{
  background-color:var(--middle-section-bg);
  color: black;
  margin-top:5vh;
  padding-bottom:5vh;
}

.portfolio-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 3em;
  grid-column-gap: 3em;
  justify-items: left;
  text-align: left;

}

.portfolio-section > img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin: auto 0px;
}

.title{
  padding: 40px;
}

.portfolio-section .stanga-sus, 
.portfolio-section .mijloc-dreapta, 
.portfolio-section .stanga-jos{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  justify-self: right;
}

.portfolio-section .stanga-jos{
  grid-row-start: 3;

}

.portfolio-section .mijloc-dreapta{
  grid-row-start: 2;
}


.text, .text2, .text3 {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 80%;
}

.text2 {
  grid-row-start: 2;
}

.text3 {
  grid-row-start: 3;
}

.bottom-section .bottom-wrapper{
  width: auto;
  height: 300px;
  background-color: tomato;
}



footer {
  width:100%;
  height:200px;
  background-color: var(--nav-color);
  margin: 0;
  color:#fff;
  /* display:block; */
  /* align-items: center; */
  /* justify-content:space-around; */
  /* flex-direction: column; */
  padding-top:20px;
  
}

footer p {
  font-size:0.7em;
}

footer  .fa {
  padding: 23px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  
}

/* Add a hover effect if you want */
footer .fa:hover {
  opacity: 0.7;
}

/* Facebook */
footer .fa-facebook {
  color: white;
  background: #3B5998;
}

/* Twitter */
footer .fa-twitter {

  color: white;
  background: #55ACEE
}
footer .fa-instagram {
  background: #ea4c89;
  color: white;
}

