body{
    margin: 0px;
    font-size: 20px;
    font-family: 'Bowlby One';font-size: 22px;
    
      
  }
.container{
    position: relative;
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  ul{
    margin:0;
    padding:0;
  }
  header{
    background-color: #e2ded3;
    /*Opacity start*/
    z-index:60000;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
    /*Opacity end*/
    color: #ff6d24;
    position: relative;
    width: 100%;
    min-height: 5px;

  }
  header a{
    color:#ff6d24;
    text-decoration:none;
    text-transform: uppercase;
    font-size:17px;
    text-align: center;
    
    
    
  }
  header li{
    float:left;
    display:inline;
    padding: 15px  15px 0px 15px;
  }
  header #branding{
    float:left;
     
    
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top: 3 20;
    text-align: center;
  
  }
  .search{
      display: inline-block;
      padding-left: 10%;
      padding-right: 0%;
      padding-top: 15px;
      margin: 0;
  }
 
  input[type=text] {
    width: 130px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 0px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 80%;
}
input[type=submit]{
    background-image: url('/img/search.svg');
    background-repeat: no-repeat; 
    width :20px;
    height: 20px;
    border: 1px black;
    padding-top: 1px;

}
input[type=submit]:focus{
    outline: none;
}
input[type=submit]:hover{
    box-shadow: rgba(205, 133, 63,0.6);
  



}
  header .highlight, header .current a{
    color:#4e413b;
    font-weight:monospace;
    border-radius: 4px;
    
  }
  
  header a:hover{
    
    color:  #4e413b;
   
  
  }

  .main{
      min-height: 100vh;
      background-color: #8d807a;
     
  }
  .main .center{
    min-height: 100vh;
    background-color: #7c6f69;
    width: 70%;
    margin:auto;
  }
  nav ul{
      display: inline-block;
  }

.banner{
    background: url('/img/Vinyl_Records.jpg') fixed no-repeat;
    background-size: cover;
    height: 200px;
    
  
   
   
}
.banner p {
    text-align: center;
    margin:0;
    padding: 100px;
    color: palegoldenrod
}
.filter{
    height: 0;
    text-align: center;
    
    
}
.filter button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    text-align: center;
    position: absolute;
    
    
}
.filter button:hover{
    animation-name: filter;
    animation-duration: 0.2s;
    animation-direction:normal;
    animation-fill-mode: forwards;
}
.filter button:focus{
    outline: none;
}
.filter-menu{
    height: 0;
    background-color: tomato;
    text-align: center;
}

.dropped{
    animation-name: filter-drop;
    animation-duration: 0.8s;
    animation-direction:normal;
    animation-fill-mode: forwards;
    /* height: 20vh; */
    background-color: tomato;
}

.section{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10% ;
    padding-right: 10%;
    padding-top: 0;
    text-align: left;
    margin: 0 !important;
   
    overflow: hidden;
    height: 0;

}

@keyframes filter{
    from{padding-top: 0;}
    to{padding-top:10px;}
}
@keyframes filter-colapse{
    from{height: 20vh;}
    to{height: 0;}
}
@keyframes filter-drop{
    from{height: 0;}
    to{height: 20vh;}
}


.product-container{
    width: 100%;
    text-align: center;
    
   
}
.product-container .product-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    
   

}
.product-container .product-list .product{
    list-style-type: none;
    
    padding: 2%;
    flex-basis: 29%;
 
}
.product-container .product-list .product img{
    list-style-type: none;
    width:100%;
}

.product-container .product-list .product:hover{
    
    
}



  footer {
    width:100%;
    height:200px;
    background-color:
    #4e413b;
    margin: 0;
    color:#332e2b;
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    padding-top:20px;
    
  }
  
  footer p {
    font-size:0.7em;
  }
  
  footer  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
  }
  
  /* Add a hover effect if you want */
  footer .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  footer .fa-facebook {
    color: white;
    background: #3B5998;
  }
  
  /* Twitter */
  footer .fa-twitter {
  
    color: white;
    background: #55ACEE
  }
  footer .fa-instagram {
    background: #ea4c89;
    color: white;
  }