#%RAML 1.0
---
title: Last.fm Web Services
baseUri: http://ws.audioscrobbler.com/2.0/
version: v1

# GET - Retrieve the information defined in the request URI.

# PUT - Replace the addressed collection. At the object-level, create or update it.

# POST - Create a new entry in the collection. This method is generally not used at the object-level.

# DELETE - Delete the information defined in the request URI. 
resourceTypes: 
   




    /users:
        /album:
            get: 
                queryParameters:
                        album:
                            displayName: Album
                            type: string
                            description: An album's full name
                description:retrieve information about album.
                responses:
                200:
                body:
                    application/json:
                        example: | {    
                            "album": {
                                "name": "Believe",
                                "artist": "Cher",
                                "mbid": "63b3a8ca-26f2-4e2b-b867-647a6ec2bebd",
                                "url": "https://www.last.fm/music/Cher/Believe",
                                "image": [
                                    {
                                        "#text": "https://lastfm-img2.akamaized.net/i/u/34s/3b54885952161aaea4ce2965b2db1638.png",
                                        "size": "small"
                                    },
                                    {
                                        "#text": "https://lastfm-img2.akamaized.net/i/u/64s/3b54885952161aaea4ce2965b2db1638.png",
                                        "size": "medium"
                                    },
                                    {
                                        "#text": "https://lastfm-img2.akamaized.net/i/u/174s/3b54885952161aaea4ce2965b2db1638.png",
                                        "size": "large"
                                    },
                                    {
                                        "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png",
                                        "size": "extralarge"
                                    },
                                    {
                                        "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png",
                                        "size": "mega"
                                    },
                                    {
                                        "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png",
                                        "size": ""
                                    }
                                ],
                                "listeners": "339640",
                                "playcount": "2064042",
                                "tracks": {
                                    "track": [
                                        {
                                            "name": "Believe",
                                            "url": "https://www.last.fm/music/Cher/_/Believe",
                                            "duration": "240",
                                            "@attr": {
                                                "rank": "1"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "The Power",
                                            "url": "https://www.last.fm/music/Cher/_/The+Power",
                                            "duration": "236",
                                            "@attr": {
                                                "rank": "2"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "Runaway",
                                            "url": "https://www.last.fm/music/Cher/_/Runaway",
                                            "duration": "286",
                                            "@attr": {
                                                "rank": "3"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "All or Nothing",
                                            "url": "https://www.last.fm/music/Cher/_/All+or+Nothing",
                                            "duration": "238",
                                            "@attr": {
                                                "rank": "4"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "Strong Enough",
                                            "url": "https://www.last.fm/music/Cher/_/Strong+Enough",
                                            "duration": "223",
                                            "@attr": {
                                                "rank": "5"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "Dov'è L'amore",
                                            "url": "https://www.last.fm/music/Cher/_/Dov%27%C3%A8+L%27amore",
                                            "duration": "258",
                                            "@attr": {
                                                "rank": "6"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "Takin' Back My Heart",
                                            "url": "https://www.last.fm/music/Cher/_/Takin%27+Back+My+Heart",
                                            "duration": "272",
                                            "@attr": {
                                                "rank": "7"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "Taxi Taxi",
                                            "url": "https://www.last.fm/music/Cher/_/Taxi+Taxi",
                                            "duration": "304",
                                            "@attr": {
                                                "rank": "8"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "Love Is the Groove",
                                            "url": "https://www.last.fm/music/Cher/_/Love+Is+the+Groove",
                                            "duration": "271",
                                            "@attr": {
                                                "rank": "9"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        },
                                        {
                                            "name": "We All Sleep Alone",
                                            "url": "https://www.last.fm/music/Cher/_/We+All+Sleep+Alone",
                                            "duration": "310",
                                            "@attr": {
                                                "rank": "10"
                                            },
                                            "streamable": {
                                                "#text": "0",
                                                "fulltrack": "0"
                                            },
                                            "artist": {
                                                "name": "Cher",
                                                "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                                                "url": "https://www.last.fm/music/Cher"
                                            }
                                        }
                                    ]
                                },
                                "tags": {
                                    "tag": [
                                        {
                                            "name": "pop",
                                            "url": "https://www.last.fm/tag/pop"
                                        },
                                        {
                                            "name": "90s",
                                            "url": "https://www.last.fm/tag/90s"
                                        },
                                        {
                                            "name": "dance",
                                            "url": "https://www.last.fm/tag/dance"
                                        },
                                        {
                                            "name": "cher",
                                            "url": "https://www.last.fm/tag/cher"
                                        },
                                        {
                                            "name": "albums I own",
                                            "url": "https://www.last.fm/tag/albums+I+own"
                                        }
                                    ]
                                },
                                "wiki": {
                                    "published": "27 Jul 2008, 15:55",
                                    "summary": "Believe is the twenty-third studio album by American  singer-actress Cher, released on November 10, 1998 by Warner Bros. Records. The RIAA certified it Quadruple Platinum on December 23, 1999, recognizing four million shipments in the United States; Worldwide, the album has sold more than 20 million copies, making it the biggest-selling album of her career. In 1999 the album received three Grammy Awards nominations including \"Record of the Year\", \"Best Pop Album\" and winning \"Best Dance Recording\" for the single \"Believe\". <a href=\"http://www.last.fm/music/Cher/Believe\">Read more on Last.fm</a>.",
                                    "content": "Believe is the twenty-third studio album by American  singer-actress Cher, released on November 10, 1998 by Warner Bros. Records. The RIAA certified it Quadruple Platinum on December 23, 1999, recognizing four million shipments in the United States; Worldwide, the album has sold more than 20 million copies, making it the biggest-selling album of her career. In 1999 the album received three Grammy Awards nominations including \"Record of the Year\", \"Best Pop Album\" and winning \"Best Dance Recording\" for the single \"Believe\".\n\nIt was released by Warner Bros. Records at the end of 1998. The album was executive produced by Rob Dickens. Upon its debut, critical reception was generally positive. Believe became Cher's most commercially-successful release, reached number one and Top 10 all over the world. In the United States, the album was released on November 10, 1998, and reached number four on the Billboard 200 chart, where it was certified four times platinum.\n\nThe album featured a change in Cher's music; in addition, Believe presented a vocally stronger Cher and a massive use of vocoder and Auto-Tune. In 1999, the album received 3 Grammy Awards nominations for \"Record of the Year\", \"Best Pop Album\" and winning \"Best Dance Recording\". Throughout 1999 and into 2000 Cher was nominated and winning many awards for the album including a Billboard Music Award for \"Female Vocalist of the Year\", Lifelong Contribution Awards and a Star on the Walk of Fame shared with former Sonny Bono. The boost in Cher's popularity led to a very successful Do You Believe? Tour.\n\nThe album was dedicated to Sonny Bono, Cher's former husband who died earlier that year from a skiing accident.\n\nCher also recorded a cover version of \"Love Is in the Air\" during early sessions for this album. Although never officially released, the song has leaked on file sharing networks.\n\nSingles\n\n\n\"Believe\"\n\"Strong Enough\"\n\"All or Nothing\"\n\"Dov'è L'Amore\" <a href=\"http://www.last.fm/music/Cher/Believe\">Read more on Last.fm</a>. User-contributed text is available under the Creative Commons By-SA License; additional terms may apply."
                                }
                            }
                        }
            post
                description: |
                headers: 
                body: 
                responses: 
    /artist:
        get:
            queryParameters:
                        displayName: Artist
                        type: string
                        description: An artist's full name
                        

            description: | Retrieve information about an artist
            responses:
            200:
            body:
                application/json:
                    example:{
                        "artist": {
                            "name": "Cher",
                            "mbid": "bfcc6d75-a6a5-4bc6-8282-47aec8531818",
                            "url": "https://www.last.fm/music/Cher",
                            "image": [
                                {
                                    "#text": "https://lastfm-img2.akamaized.net/i/u/34s/4c2467672b39f5f94750eaf4da155383.png",
                                    "size": "small"
                                },
                                {
                                    "#text": "https://lastfm-img2.akamaized.net/i/u/64s/4c2467672b39f5f94750eaf4da155383.png",
                                    "size": "medium"
                                },
                                {
                                    "#text": "https://lastfm-img2.akamaized.net/i/u/174s/4c2467672b39f5f94750eaf4da155383.png",
                                    "size": "large"
                                },
                                {
                                    "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/4c2467672b39f5f94750eaf4da155383.png",
                                    "size": "extralarge"
                                },
                                {
                                    "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/4c2467672b39f5f94750eaf4da155383.png",
                                    "size": "mega"
                                },
                                {
                                    "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/4c2467672b39f5f94750eaf4da155383.png",
                                    "size": ""
                                }
                            ],
                            "streamable": "0",
                            "ontour": "0",
                            "stats": {
                                "listeners": "1050102",
                                "playcount": "14239750"
                            },
                            "similar": {
                                "artist": [
                                    {
                                        "name": "Madonna",
                                        "url": "https://www.last.fm/music/Madonna",
                                        "image": [
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/34s/4416a5ff4592808f8bd137d993d021ce.png",
                                                "size": "small"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/64s/4416a5ff4592808f8bd137d993d021ce.png",
                                                "size": "medium"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/174s/4416a5ff4592808f8bd137d993d021ce.png",
                                                "size": "large"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/4416a5ff4592808f8bd137d993d021ce.png",
                                                "size": "extralarge"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/4416a5ff4592808f8bd137d993d021ce.png",
                                                "size": "mega"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/4416a5ff4592808f8bd137d993d021ce.png",
                                                "size": ""
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Kylie Minogue",
                                        "url": "https://www.last.fm/music/Kylie+Minogue",
                                        "image": [
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/34s/fe10877362b6b70e7bb26aacb53395cb.png",
                                                "size": "small"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/64s/fe10877362b6b70e7bb26aacb53395cb.png",
                                                "size": "medium"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/174s/fe10877362b6b70e7bb26aacb53395cb.png",
                                                "size": "large"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/fe10877362b6b70e7bb26aacb53395cb.png",
                                                "size": "extralarge"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/fe10877362b6b70e7bb26aacb53395cb.png",
                                                "size": "mega"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/fe10877362b6b70e7bb26aacb53395cb.png",
                                                "size": ""
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Sonny & Cher",
                                        "url": "https://www.last.fm/music/Sonny+&+Cher",
                                        "image": [
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/34s/3c33108af6fc4393b7a8501d9daf4bae.png",
                                                "size": "small"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/64s/3c33108af6fc4393b7a8501d9daf4bae.png",
                                                "size": "medium"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/174s/3c33108af6fc4393b7a8501d9daf4bae.png",
                                                "size": "large"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/3c33108af6fc4393b7a8501d9daf4bae.png",
                                                "size": "extralarge"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/3c33108af6fc4393b7a8501d9daf4bae.png",
                                                "size": "mega"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/3c33108af6fc4393b7a8501d9daf4bae.png",
                                                "size": ""
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Céline Dion",
                                        "url": "https://www.last.fm/music/C%C3%A9line+Dion",
                                        "image": [
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/34s/1bda84c09814518a7968b1fdca31db63.png",
                                                "size": "small"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/64s/1bda84c09814518a7968b1fdca31db63.png",
                                                "size": "medium"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/174s/1bda84c09814518a7968b1fdca31db63.png",
                                                "size": "large"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/1bda84c09814518a7968b1fdca31db63.png",
                                                "size": "extralarge"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/1bda84c09814518a7968b1fdca31db63.png",
                                                "size": "mega"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/1bda84c09814518a7968b1fdca31db63.png",
                                                "size": ""
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Cyndi Lauper",
                                        "url": "https://www.last.fm/music/Cyndi+Lauper",
                                        "image": [
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/34s/594903d3355cc5f6c4d934b52173007b.png",
                                                "size": "small"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/64s/594903d3355cc5f6c4d934b52173007b.png",
                                                "size": "medium"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/174s/594903d3355cc5f6c4d934b52173007b.png",
                                                "size": "large"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/594903d3355cc5f6c4d934b52173007b.png",
                                                "size": "extralarge"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/594903d3355cc5f6c4d934b52173007b.png",
                                                "size": "mega"
                                            },
                                            {
                                                "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/594903d3355cc5f6c4d934b52173007b.png",
                                                "size": ""
                                            }
                                        ]
                                    }
                                ]
                            },
                            "tags": {
                                "tag": [
                                    {
                                        "name": "pop",
                                        "url": "https://www.last.fm/tag/pop"
                                    },
                                    {
                                        "name": "female vocalists",
                                        "url": "https://www.last.fm/tag/female+vocalists"
                                    },
                                    {
                                        "name": "80s",
                                        "url": "https://www.last.fm/tag/80s"
                                    },
                                    {
                                        "name": "dance",
                                        "url": "https://www.last.fm/tag/dance"
                                    },
                                    {
                                        "name": "rock",
                                        "url": "https://www.last.fm/tag/rock"
                                    }
                                ]
                            },
                            "bio": {
                                "links": {
                                    "link": {
                                        "#text": "",
                                        "rel": "original",
                                        "href": "https://last.fm/music/Cher/+wiki"
                                    }
                                },
                                "published": "17 Feb 2006, 22:09",
                                "summary": "Cher (born Cherilyn Sarkisian; May 20, 1946) is an Oscar- and Grammy-winning American singer and actress. A major figure for over five decades in the world of popular culture, she is often referred to as the Goddess of Pop for having first brought the sense of female autonomy and self-actualization into the entertainment industry. \n\nShe is known for her distinctive contralto and for having worked extensively across media, as well as for continuously reinventing both her music and image, the latter of which has been known to induce controversy. <a href=\"https://www.last.fm/music/Cher\">Read more on Last.fm</a>",
                                "content": "Cher (born Cherilyn Sarkisian; May 20, 1946) is an Oscar- and Grammy-winning American singer and actress. A major figure for over five decades in the world of popular culture, she is often referred to as the Goddess of Pop for having first brought the sense of female autonomy and self-actualization into the entertainment industry. \n\nShe is known for her distinctive contralto and for having worked extensively across media, as well as for continuously reinventing both her music and image, the latter of which has been known to induce controversy.\n\nCher was born Cherilyn Sarkisian in El Centro, California, on May 20, 1946. She is of Armenian-American, Irish, English, German, and Cherokee ancestry. Cher first caught the eye and ear of the public in 1965 as one-half of the pop rock duo Sonny & Cher, which popularized a peculiar smooth sound that competed successfully with the predominant British Invasion and Motown Sound of the era. After a period in which the duo became obsolete, she re-emerged in the 1970's as a television personality with her shows The Sonny & Cher Comedy Hour and Cher, which attained great popularity.\n\nAt the same time, she established herself as a solo artist with hits such as \"Bang Bang (My Baby Shot Me Down)\", \"Gypsys, Tramps & Thieves\", \"Half-Breed\", and \"Dark Lady\", which dealt with taboo subjects in mainstream popular music. Throughout, she cemented her status as a fashion trendsetter with her daring outfits, and was noted as being the first woman to expose her navel on television. Cher's impact at that time, as described by Phill Marder from Goldmine magazine, \"led the way to advance feminine rebellion in the rock world,\" as she was \"the prototype of the female rock star, setting the standard for appearance and [...] attitude[.]\"\n\nIn 1983 Cher made a critically acclaimed appearance on Broadway and starred in the film Silkwood, which earned her a nomination for the Academy Award for Best Supporting Actress. In the following years, she became an acclaimed film actress by starring in a string of hit films, including Mask, The Witches of Eastwick, and Moonstruck, for which she won the Academy Award for Best Actress in 1988. At the same time, she established herself as a \"serious rock and roller\" by releasing a series of rock albums and hit singles such as \"I Found Someone\", \"If I Could Turn Back Time\", and \"The Shoop Shoop Song (It's in His Kiss)\".\n\nShe made her directing debut with the film If These Walls Could Talk in 1996 and released the biggest-selling single of her career thus far, \"Believe\", which revolutionized the recording industry because of its pioneer use of Auto-Tune (also known as the \"Cher effect\"). Throughout the 2000's she embarked on a series of concert tours that were among the highest-grossing of all-time.\n\nCher has won an Academy Award, a Grammy Award, an Emmy Award, three Golden Globe Awards, and the Best Actress Award at the Cannes Film Festival for her work in film, music and television. She is the only person  to receive all of these awards. She is also the only artist to have notched a number-one single on a Billboard chart in each of the past six decades. Recognized as one of the best-selling music artists of all time, she has sold more than 100 million solo albums worldwide and 40 million records as part of Sonny & Cher.\n\nOfficial website: http://www.cher.com/ <a href=\"https://www.last.fm/music/Cher\">Read more on Last.fm</a>. User-contributed text is available under the Creative Commons By-SA License; additional terms may apply."
                            }
                        }
                    }
        post:
    /geo:
        /getTopArtists:
            queryParameters:
                displayName:Country
                type:string
                description:name of the Country.
            description:Retrive information about top artist in a particulary country.
            responses:
            200:
            body:
                application/json:
                    example:
                    {
                        "topartists": {
                            "artist": [
                                {
                                    "name": "David Bowie",
                                    "listeners": "3265229",
                                    "mbid": "5441c29d-3602-4898-b1a1-b77fa23b8e50",
                                    "url": "https://www.last.fm/music/David+Bowie",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/aa9dfbdec965d751cd1fa4ec5a309299.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/aa9dfbdec965d751cd1fa4ec5a309299.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/aa9dfbdec965d751cd1fa4ec5a309299.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/aa9dfbdec965d751cd1fa4ec5a309299.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/aa9dfbdec965d751cd1fa4ec5a309299.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Radiohead",
                                    "listeners": "4644780",
                                    "mbid": "a74b1b7f-71a5-4011-9441-d0b5e4122711",
                                    "url": "https://www.last.fm/music/Radiohead",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/e5c21d51b912602a5ee9f5086106cbbe.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/e5c21d51b912602a5ee9f5086106cbbe.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/e5c21d51b912602a5ee9f5086106cbbe.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/e5c21d51b912602a5ee9f5086106cbbe.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/e5c21d51b912602a5ee9f5086106cbbe.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Coldplay",
                                    "listeners": "5281158",
                                    "mbid": "cc197bad-dc9c-440d-a5b5-d52ba2e14234",
                                    "url": "https://www.last.fm/music/Coldplay",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/76b29fb461e74a48bab4686e0269421b.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/76b29fb461e74a48bab4686e0269421b.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/76b29fb461e74a48bab4686e0269421b.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/76b29fb461e74a48bab4686e0269421b.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/76b29fb461e74a48bab4686e0269421b.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Queen",
                                    "listeners": "3871434",
                                    "mbid": "420ca290-76c5-41af-999e-564d7c71f1a7",
                                    "url": "https://www.last.fm/music/Queen",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/39be92dbb8013de8cd1dafc3430ff3d8.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/39be92dbb8013de8cd1dafc3430ff3d8.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/39be92dbb8013de8cd1dafc3430ff3d8.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/39be92dbb8013de8cd1dafc3430ff3d8.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/39be92dbb8013de8cd1dafc3430ff3d8.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The Rolling Stones",
                                    "listeners": "3717224",
                                    "mbid": "b071f9fa-14b0-4217-8e97-eb41da73f598",
                                    "url": "https://www.last.fm/music/The+Rolling+Stones",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/adad8079a3b3ceb58b8ae8c944b74bfc.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/adad8079a3b3ceb58b8ae8c944b74bfc.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/adad8079a3b3ceb58b8ae8c944b74bfc.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/adad8079a3b3ceb58b8ae8c944b74bfc.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/adad8079a3b3ceb58b8ae8c944b74bfc.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Muse",
                                    "listeners": "4016055",
                                    "mbid": "fd857293-5ab8-40de-b29e-55a69d4e4d0f",
                                    "url": "https://www.last.fm/music/Muse",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/d8086eeaf019b743e9f8d390771729e5.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/d8086eeaf019b743e9f8d390771729e5.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/d8086eeaf019b743e9f8d390771729e5.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/d8086eeaf019b743e9f8d390771729e5.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/d8086eeaf019b743e9f8d390771729e5.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Daft Punk",
                                    "listeners": "3703416",
                                    "mbid": "056e4f3e-d505-4dad-8ec1-d04f521cbb56",
                                    "url": "https://www.last.fm/music/Daft+Punk",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/9fd718d4c80e4ac89107c6c0bb908440.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/9fd718d4c80e4ac89107c6c0bb908440.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/9fd718d4c80e4ac89107c6c0bb908440.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/9fd718d4c80e4ac89107c6c0bb908440.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/9fd718d4c80e4ac89107c6c0bb908440.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The Beatles",
                                    "listeners": "3567683",
                                    "mbid": "b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d",
                                    "url": "https://www.last.fm/music/The+Beatles",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/ae581dbdf6894612a99d5169e14ea5b1.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/ae581dbdf6894612a99d5169e14ea5b1.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/ae581dbdf6894612a99d5169e14ea5b1.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/ae581dbdf6894612a99d5169e14ea5b1.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/ae581dbdf6894612a99d5169e14ea5b1.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Arctic Monkeys",
                                    "listeners": "3403421",
                                    "mbid": "ada7a83c-e3e1-40f1-93f9-3e73dbc9298a",
                                    "url": "https://www.last.fm/music/Arctic+Monkeys",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/177100db6181b9a73e2c7ea87c83b252.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/177100db6181b9a73e2c7ea87c83b252.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/177100db6181b9a73e2c7ea87c83b252.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/177100db6181b9a73e2c7ea87c83b252.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/177100db6181b9a73e2c7ea87c83b252.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The Cure",
                                    "listeners": "2858977",
                                    "mbid": "69ee3720-a7cb-4402-b48d-a02c366f2bcf",
                                    "url": "https://www.last.fm/music/The+Cure",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/55492fc611564e3dbc1bf5bca12349f3.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/55492fc611564e3dbc1bf5bca12349f3.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/55492fc611564e3dbc1bf5bca12349f3.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/55492fc611564e3dbc1bf5bca12349f3.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/55492fc611564e3dbc1bf5bca12349f3.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Sia",
                                    "listeners": "2016025",
                                    "mbid": "2f548675-008d-4332-876c-108b0c7ab9c5",
                                    "url": "https://www.last.fm/music/Sia",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/f53edd0709a2f6a06efc0eecc2e0aa31.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/f53edd0709a2f6a06efc0eecc2e0aa31.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/f53edd0709a2f6a06efc0eecc2e0aa31.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/f53edd0709a2f6a06efc0eecc2e0aa31.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/f53edd0709a2f6a06efc0eecc2e0aa31.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Red Hot Chili Peppers",
                                    "listeners": "4530485",
                                    "mbid": "8bfac288-ccc5-448d-9573-c33ea2aa5c30",
                                    "url": "https://www.last.fm/music/Red+Hot+Chili+Peppers",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/acb61656cd1643b6933ff30e5ee6b991.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/acb61656cd1643b6933ff30e5ee6b991.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/acb61656cd1643b6933ff30e5ee6b991.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/acb61656cd1643b6933ff30e5ee6b991.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/acb61656cd1643b6933ff30e5ee6b991.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Blur",
                                    "listeners": "2808887",
                                    "mbid": "ba853904-ae25-4ebb-89d6-c44cfbd71bd2",
                                    "url": "https://www.last.fm/music/Blur",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/308e41e314b34d1d8108fd2624e6ea31.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/308e41e314b34d1d8108fd2624e6ea31.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/308e41e314b34d1d8108fd2624e6ea31.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/308e41e314b34d1d8108fd2624e6ea31.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/308e41e314b34d1d8108fd2624e6ea31.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Ed Sheeran",
                                    "listeners": "1520570",
                                    "mbid": "b8a7c51f-362c-4dcb-a259-bc6e0095f0a6",
                                    "url": "https://www.last.fm/music/Ed+Sheeran",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/fdc369923434b3ccb68a47aae0433a1f.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/fdc369923434b3ccb68a47aae0433a1f.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/fdc369923434b3ccb68a47aae0433a1f.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/fdc369923434b3ccb68a47aae0433a1f.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/fdc369923434b3ccb68a47aae0433a1f.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Adele",
                                    "listeners": "2776883",
                                    "mbid": "cc2c9c3c-b7bc-4b8b-84d8-4fbd8779e493",
                                    "url": "https://www.last.fm/music/Adele",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/766686bf1c5b14171fbe2169751c17cc.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/766686bf1c5b14171fbe2169751c17cc.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/766686bf1c5b14171fbe2169751c17cc.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/766686bf1c5b14171fbe2169751c17cc.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/766686bf1c5b14171fbe2169751c17cc.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Nirvana",
                                    "listeners": "4181228",
                                    "mbid": "9282c8b4-ca0b-4c6b-b7e3-4f7762dfc4d6",
                                    "url": "https://www.last.fm/music/Nirvana",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/89a490f578e4451b9dea9c20158c8a1e.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/89a490f578e4451b9dea9c20158c8a1e.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/89a490f578e4451b9dea9c20158c8a1e.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/89a490f578e4451b9dea9c20158c8a1e.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/89a490f578e4451b9dea9c20158c8a1e.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Pink Floyd",
                                    "listeners": "2993966",
                                    "mbid": "83d91898-7763-47d7-b03b-b92132375c47",
                                    "url": "https://www.last.fm/music/Pink+Floyd",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/5f2b4ac5a1364377aaf8e3d22af6341b.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/5f2b4ac5a1364377aaf8e3d22af6341b.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/5f2b4ac5a1364377aaf8e3d22af6341b.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/5f2b4ac5a1364377aaf8e3d22af6341b.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/5f2b4ac5a1364377aaf8e3d22af6341b.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Tame Impala",
                                    "listeners": "1030343",
                                    "mbid": "63aa26c3-d59b-4da4-84ac-716b54f1ef4d",
                                    "url": "https://www.last.fm/music/Tame+Impala",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/51aba1344ff5a75ee7776cfa6193c807.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/51aba1344ff5a75ee7776cfa6193c807.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/51aba1344ff5a75ee7776cfa6193c807.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/51aba1344ff5a75ee7776cfa6193c807.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/51aba1344ff5a75ee7776cfa6193c807.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The xx",
                                    "listeners": "1866271",
                                    "mbid": "c5c2ea1c-4bde-4f4d-bd0b-47b200bf99d6",
                                    "url": "https://www.last.fm/music/The+xx",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/45352db79a3a2da513c3932882598141.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/45352db79a3a2da513c3932882598141.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/45352db79a3a2da513c3932882598141.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/45352db79a3a2da513c3932882598141.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/45352db79a3a2da513c3932882598141.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Bob Dylan",
                                    "listeners": "2602014",
                                    "mbid": "72c536dc-7137-4477-a521-567eeb840fa8",
                                    "url": "https://www.last.fm/music/Bob+Dylan",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/c42117a8fa178d41a497a7585c624552.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/c42117a8fa178d41a497a7585c624552.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/c42117a8fa178d41a497a7585c624552.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/c42117a8fa178d41a497a7585c624552.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/c42117a8fa178d41a497a7585c624552.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Arcade Fire",
                                    "listeners": "2509543",
                                    "mbid": "52074ba6-e495-4ef3-9bb4-0703888a9f68",
                                    "url": "https://www.last.fm/music/Arcade+Fire",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/381548616610c103a7d3868d44ac2e87.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/381548616610c103a7d3868d44ac2e87.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/381548616610c103a7d3868d44ac2e87.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/381548616610c103a7d3868d44ac2e87.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/381548616610c103a7d3868d44ac2e87.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Major Lazer",
                                    "listeners": "1156548",
                                    "mbid": "75be165a-ad83-4d12-bd28-f589a15c479f",
                                    "url": "https://www.last.fm/music/Major+Lazer",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/2ef42dd356169dee318e0ce819769b55.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/2ef42dd356169dee318e0ce819769b55.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/2ef42dd356169dee318e0ce819769b55.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/2ef42dd356169dee318e0ce819769b55.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/2ef42dd356169dee318e0ce819769b55.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The Weeknd",
                                    "listeners": "1168479",
                                    "mbid": "c8b03190-306c-4120-bb0b-6f2ebfc06ea9",
                                    "url": "https://www.last.fm/music/The+Weeknd",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/6acfc003b195fc46694aa00b6968b3d4.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/6acfc003b195fc46694aa00b6968b3d4.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/6acfc003b195fc46694aa00b6968b3d4.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/6acfc003b195fc46694aa00b6968b3d4.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/6acfc003b195fc46694aa00b6968b3d4.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Calvin Harris",
                                    "listeners": "2080561",
                                    "mbid": "8dd98bdc-80ec-4e93-8509-2f46bafc09a7",
                                    "url": "https://www.last.fm/music/Calvin+Harris",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/5751be709d346f0dc07aa98fc3f15e56.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/5751be709d346f0dc07aa98fc3f15e56.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/5751be709d346f0dc07aa98fc3f15e56.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/5751be709d346f0dc07aa98fc3f15e56.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/5751be709d346f0dc07aa98fc3f15e56.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The Strokes",
                                    "listeners": "3195987",
                                    "mbid": "f181961b-20f7-459e-89de-920ef03c7ed0",
                                    "url": "https://www.last.fm/music/The+Strokes",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/28f4abac15f74715a08aa708d396cb37.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/28f4abac15f74715a08aa708d396cb37.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/28f4abac15f74715a08aa708d396cb37.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/28f4abac15f74715a08aa708d396cb37.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/28f4abac15f74715a08aa708d396cb37.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "U2",
                                    "listeners": "3423804",
                                    "mbid": "a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432",
                                    "url": "https://www.last.fm/music/U2",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/2368d78350d34561914609a9cecd1b52.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/2368d78350d34561914609a9cecd1b52.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/2368d78350d34561914609a9cecd1b52.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/2368d78350d34561914609a9cecd1b52.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/2368d78350d34561914609a9cecd1b52.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Rihanna",
                                    "listeners": "4444837",
                                    "mbid": "db36a76f-4cdf-43ac-8cd0-5e48092d2bae",
                                    "url": "https://www.last.fm/music/Rihanna",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/62d1e79a7847d50ed8b62bc5033e2842.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/62d1e79a7847d50ed8b62bc5033e2842.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/62d1e79a7847d50ed8b62bc5033e2842.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/62d1e79a7847d50ed8b62bc5033e2842.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/62d1e79a7847d50ed8b62bc5033e2842.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Foo Fighters",
                                    "listeners": "3942394",
                                    "mbid": "67f66c07-6e61-4026-ade5-7e782fad3a5d",
                                    "url": "https://www.last.fm/music/Foo+Fighters",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/162a4a04d9d14d2e90b651e8c076decb.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/162a4a04d9d14d2e90b651e8c076decb.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/162a4a04d9d14d2e90b651e8c076decb.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/162a4a04d9d14d2e90b651e8c076decb.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/162a4a04d9d14d2e90b651e8c076decb.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Depeche Mode",
                                    "listeners": "2622766",
                                    "mbid": "8538e728-ca0b-4321-b7e5-cff6565dd4c0",
                                    "url": "https://www.last.fm/music/Depeche+Mode",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/572fe0b3e513207d237c7ca53ab52052.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/572fe0b3e513207d237c7ca53ab52052.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/572fe0b3e513207d237c7ca53ab52052.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/572fe0b3e513207d237c7ca53ab52052.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/572fe0b3e513207d237c7ca53ab52052.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "The Killers",
                                    "listeners": "4341321",
                                    "mbid": "95e1ead9-4d31-4808-a7ac-32c3614c116b",
                                    "url": "https://www.last.fm/music/The+Killers",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/298003c3bc07cb4b76eeadf4c9f54142.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/298003c3bc07cb4b76eeadf4c9f54142.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/298003c3bc07cb4b76eeadf4c9f54142.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/298003c3bc07cb4b76eeadf4c9f54142.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/298003c3bc07cb4b76eeadf4c9f54142.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "R.E.M.",
                                    "listeners": "2823009",
                                    "mbid": "ea4dfa26-f633-4da6-a52a-f49ea4897b58",
                                    "url": "https://www.last.fm/music/R.E.M.",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/7cfe09c7db74413cb72709f83b2f96c8.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/7cfe09c7db74413cb72709f83b2f96c8.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/7cfe09c7db74413cb72709f83b2f96c8.png",
                                            "size": "large"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/7cfe09c7db74413cb72709f83b2f96c8.png",
                                            "size": "extralarge"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/300x300/7cfe09c7db74413cb72709f83b2f96c8.png",
                                            "size": "mega"
                                        }
                                    ]
                                },
                                {
                                    "name": "Michael Jackson",
                                    "listeners": "3439693",
                                    "mbid": "f27ec8db-af05-4f36-916e-3d57f91ecf5e",
                                    "url": "https://www.last.fm/music/Michael+Jackson",
                                    "streamable": "0",
                                    "image": [
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/34s/158b1d3266e440cca1e0dbf3347d8beb.png",
                                            "size": "small"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/64s/158b1d3266e440cca1e0dbf3347d8beb.png",
                                            "size": "medium"
                                        },
                                        {
                                            "#text": "https://lastfm-img2.akamaized.net/i/u/174s/158b1d3266e440cca1e0dbf3347d8beb.png",
                                            "size": "large"
                                        },
                                        {
[...]
