<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>JBC MUSIC | Browse</title>
    <link rel="stylesheet" href="../../css/album-preview.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bowlby One' rel='stylesheet'>


</head>

<body>
<!-- START NAVBAR -->
<!-- <header>
    <div class="container">
        <div id="branding">
            <h1>
                <img src="../Images/logo.png">
            </h1>
        </div>
        <div class="search">
            <input id="search-bar" type="text" placeholder="Search">
            <input type="submit" value="">
        </div>
        <nav>

            <ul>
                <li class="current">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">About</a>
                </li>
                <li>
                    <a>Log in </a>
                </li>
                <li>
                    <a>Register</a>
                </li>
            </ul>
        </nav>
    </div>

</header> -->
<header>

    <div class="container">
        <!-- <div id="branding"> -->
        <img id="logo" src="../../Images/logo.png" alt="asd">
        <!-- </div> -->

        <nav>
            <ul>
                <li class="current">
                    <a href="/welcome">Home</a>
                </li>

                <li>
                    <a href="/about">About</a>

                </li>
                <li>
                    <a href="/profile">Profile</a>

                </li>
                <li>
                    <a href="/logout">Log Out</a>

                </li>
            </ul>
        </nav>
    </div>

</header>

<!-- END NAVBAR -->

<div class="main">
    <div class="center" id="defaultOpen">
        <div class="banner">
            <p id=textimg>ALBUM PAGE</p>
        </div>
        <div class="add-but">
            <button type="button" id="myBtn"  class="button-add">Add Album to your collection</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form id="formObj">
                        <label>Choose you Collection:</label>
                        <div id="collectionContainer">
                            <div class="collectionItem">
                                <img src="../../Images/cassette.jpg">
                                <div class="collectionText">
                                    <h4>Title</h4>
                                    <p>description</p>
                                </div>
        
                            </div>
                            <div class="collectionItem">
                                <img src="../../Images/cassette.jpg">
                                <div class="collectionText">
                                    <h4>Title</h4>
                                    <p>description</p>
                                </div>
        
                            </div>
                        </div>
        
        
                    </form>
                </div>
            </div>


        </div>

        <h1 id="name"></h1>
        <h1 id="artist"></h1>


        <div class="display-img">
            <img id="imag" src="" alt="">
        </div>
        <div class="description">
            <h4 >Description:</h4>
            <p id="desc">


            </p>

        </div>
        <h1>Tracks</h1>
        <div class="tracks">
            <ul id="tl" class="track-list">

                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>

            </ul>

        </div>
    </div>


</div>
<footer class="text-center">

    <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>

    <p id="coded">Music with love,By all artist on the world .</p>
    <p id="copyright">&copy; 2018 JBC MUSIC. All rights reserved.</p>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../JS/album-preview.js"></script>

</body>

</html>