<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>JBC MUSIC | Browse</title>
    <link rel="stylesheet" href="../../css/cassetts.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bowlby One' rel='stylesheet'>



</head>

<body>

    <header>

        <div class="container">
            <!-- <div id="branding"> -->
            <img id="logo" src="../../Images/logo.png" alt="asd">
            <!-- </div> -->
            
            <nav>
                <ul>
                    <li class="current">
                        <a href="/welcome">Home</a>
                    </li>

                    <li>
                        <a href="/about">About</a>

                    </li>
                    <li>
                        <a href="../index.html">Log Out</a>

                    </li>
                </ul>
            </nav>
        </div>

    </header>
    <div class="main">
        

        <div class="center">
            <div class="banner">
                <p>Best Cassette Collection</p>
            </div>
            <div class="list-view-buttons">
                <button onclick="toggleView()">
                    <img src="../../Images/box-view.svg" alt="">
                </button>
                <button onclick="toggleView()">
                    <img src="../../Images/list-ul.svg" alt="">
                </button>

            </div>
            <div class="search-container">

                    <input class="search-bar" type="text" placeholder="Cautare dupa nume..." name="search">
                    <select class="search-art">
                          <option value="Artist">Artist</option>
                          <option value="Albums">Albums</option>
                          <option value="Tracks">Tracks</option>
                          
                        </select>
                    
                    <button class="button-search">Cautare</button>

                </div>



            <div class="product-container">
                
                <ul class="product-list">
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>
                    <li class="product">
                        <a href="cassetts-preview.html">
                            <h3>Cassette Y</h3>
                            <img class="vyn" src="../../Images/cassette.jpg" alt="">
                            <p>DESCRIPTION</p>
                            <img class="preview" src="../../Images/bars.svg" alt="">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div id="contextMenu" class="dropdown clearfix">
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
                  <a>Delete Coletion
                  </a>
                </ul>
              </div>



    </div>
    <footer class="text-center">

        <div class="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>

        <p id="coded">Music with love,By all artist on the world .</p>
        <p id="copyright">&copy; 2018 JBC MUSIC. All rights reserved.</p>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../JS/filter.js"></script>
    <script>
        $(function() {

var $contextMenu = $("#contextMenu");

$("body").on("contextmenu", "ul li", function(e) {
     $contextMenu.css({
          display: "block",
          left: e.pageX,
          top: e.pageY
     });
     return false;
});

$('html').click(function() {
     $contextMenu.hide();
});

});
    
    </script>

</body>

</html>