<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>JBC MUSIC | Browse</title>
    <link rel="stylesheet" href="../../css/vinyl-preview.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bowlby One' rel='stylesheet'>


</head>

<body>
<!-- START NAVBAR -->
<!-- <header>
    <div class="container">
        <div id="branding">
            <h1>
                <img src="../Images/logo.png">
            </h1>
        </div>
        <div class="search">
            <input id="search-bar" type="text" placeholder="Search">
            <input type="submit" value="">
        </div>
        <nav>

            <ul>
                <li class="current">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="index.html">About</a>
                </li>
                <li>
                    <a>Log in </a>
                </li>
                <li>
                    <a>Register</a>
                </li>
            </ul>
        </nav>
    </div>

</header> -->
<header>

    <div class="container">
        <!-- <div id="branding"> -->
        <img id="logo" src="../../Images/logo.png" ;>
        <!-- </div> -->

        <nav>
            <ul>
                <li class="current">
                    <a href="/welcome">Home</a>
                </li>

                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>



</header>

<!-- END NAVBAR -->

<div class="main">
    <div class="center">
        <div class="banner">
            <p id=textimg>Vinyl X</p>
        </div>

        <div class="display-img">
            <img src="../../Images/vinyl.png" alt="">
        </div>
        <div class="description" id="dsc">
            <h4>Description:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eius, commodi eum error velit maxime
                provident
                ipsum maiores, repellendus debitis odit magni praesentium quod laudantium illum corporis itaque. Itaque,

            </p>

        </div>

        <div id="propr">

            <h4>Title: </h4><p id="titlu">dadsad</p><br>
            <h4>Album: </h4><p id="album"></p><br>
            <h4>Artists: </h4><p id="artists"></p><br>
            <h4>Age: </h4><p id="age"></p><br>
            <h4>Size: </h4><p id="size"></p><br>
            <h4>Colored: </h4><p id="isCol"></p><br>
            <h4>Stereo: </h4><p id="isSter"></p><br>
            <h4>Special Edition: </h4><p id="isSpEd"></p><br>
            <h4>Duration: </h4><p id="duration"></p><br>
            <h4>Genre: </h4><p id="genre"></p><br>
            <h4>Release Date: </h4><p id="release"></p><br>
            <h4>Rarity: </h4><p id="rarity"></p><br>
            <h4>Region: </h4><p id="region"></p><br>

        </div>
        <h1>Tracks</h1>
        <div class="tracks">
            <ul class="track-list">

                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
                <li class="track"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, modi.</li>
            </ul>

        </div>
    </div>


</div>
<footer class="text-center">

    <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>

    <p id="coded">Music with love,By all artist on the world .</p>
    <p id="copyright">&copy; 2018 JBC MUSIC. All rights reserved.</p>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../JS/vinyl-preview.js"></script>

</body>

</html>