body {
    margin: 0px;
    font-size: 17px;
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;

}

.container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #e2ded3;
    /*Opacity start*/
    z-index: 60000;
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
    /*Opacity end*/
    color: #ff6d24;
    position: relative;
    width: 100%;
    min-height: 5px;

}

header a {
    color: #ff6d24;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;

}

header li {
    /* float:left; */
    display: inline;
    padding: 15px 15px 0px 15px;
}

header #branding {
    float: left;

}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 3 20;
    text-align: center;

}

header .highlight, header .current a {
    color: #4e413b;
    font-weight: monospace;
    border-radius: 4px;

}

header a:hover {

    color: #4e413b;

}

.main {
    min-height: 100vh;
    background-color: #AAABBB;

}

.main .center {
    min-height: 100vh;
    background-color: #fff;
    width: 70%;
    margin: auto;
}

nav ul {
    display: inline-block;
}

.banner {
    background: url('../Images/Vinyl_Records.jpg') fixed no-repeat;
    background-size: cover;
    height: 200px;
}

.banner p {
    text-align: center;
    margin: 0;
    padding: 100px;
    color: palegoldenrod
}

.filter {
    height: 0;
    text-align: center;

}

.filter button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    text-align: center;
    position: absolute;

}

.filter button:hover {
    animation-name: filter;
    animation-duration: 0.2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.filter button:focus {
    outline: none;
}

.filter-menu {
    height: 0;
    background-color: #fff;
    text-align: center;
}

.dropped {
    animation-name: filter-drop;
    animation-duration: 0.8s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    padding-bottom: 2%;
    background-color: #fff;
}

.section {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
    text-align: left;
    margin: 0 !important;

    overflow: hidden;
    height: 0;

}

@keyframes filter {
    from {
        padding-top: 0;
    }
    to {
        padding-top: 10px;
    }
}

@keyframes filter-colapse {
    from {
        height: 20vh;
    }
    to {
        height: 0;
    }
}

@keyframes filter-drop {
    from {
        height: 0;
    }
    to {
        height: 20vh;
    }
}

.product-container {
    width: 100%;
    text-align: center;

}

.product-container .product-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.product-container .product-list .box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;

}

.product-container .product-list .product {
    list-style-type: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 2%;
    flex-basis: 29%;
    transition: .3s ease-in;
    align-items: center;

}

.product-container .product-list.box .product.box {
    list-style-type: none;
    position: relative;
    top: 0;
    left: 0;
    padding: 1%;
    flex-basis: 50%;
    transition: .3s ease-in;
    align-items: center;

}

.product-container .product-list .product .preview {
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
    transition: .1s ease-in;
    width: 20%;
    z-index: 25;

}

.product-container .product-list .product img {
    list-style-type: none;
    width: 100%;

}

.product a {
    color: black;
    text-decoration: none;
}

/* .product-container .product-list .product:hover{
   
    
    
} */

.vyn {
    /* opacity: 0.2; */
}

footer {
    width: 100%;
    height: 200px;
    background-color: #4e413b;
    margin: 0;
    color: #332e2b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 20px;

}

footer p {
    font-size: 0.7em;
}

footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

/* Add a hover effect if you want */
footer .fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
footer .fa-facebook {
    color: white;
    background: #3B5998;
}

/* Twitter */
footer .fa-twitter {

    color: white;
    background: #55ACEE
}

footer .fa-instagram {
    background: #ea4c89;
    color: white;
}

.list-view-buttons {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-view-buttons button {
    width: 3rem;
    margin: 1px;
    background-color: rgb(243, 241, 241);
    border: 0;
    box-shadow: #332e2b;

}

.list-view-buttons button:focus {
    outline: none;

}

.list-view-buttons {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-view-buttons button {
    width: 3rem;
    margin: 1px;
    background-color: rgb(243, 241, 241);
    border: 0;
    box-shadow: #332e2b;
    transition: 0.2s ease-out;
}

.list-view-buttons button:focus {
    outline: none;
}

.list-view-buttons button:hover {
    background-color: #979797;
    transition: 0.2s ease-out;
    border-radius: 2px;
    border: 2px #979797 solid;
}

.search-container {

    text-align: center;
    padding-top: 20px;
    outline: 0;
}

.search-container .search-bar {
    padding: 5px 30px;
    border-radius: 5px;
    outline: 0;

}

.search-container .search-art {
    padding: 5px 30px;
    border-radius: 5px;
    outline: 0;
}

.button-search {
    padding: 5px 30px;
    border-radius: 10px;
    background-color: #FFF;
    border-color: #4c5baf;

    outline: 0;

}

.button-search:hover {
    background: #4c5baf;
    box-shadow: 0px 2px 15px 5px white;
    color: white;
}

#contextMenu {
    position: absolute;
    display: none;
    box-shadow: 0;

    z-index: 10000;
}

.wrap {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.dropdown .button-search {
    border-radius: 0;
    background: #FFF;
    color: black;
}

.product-list ul img:nth-child(even) {
    background: #F5F5F5
}

.product-list ul img {
    position: relative;

}

.product-list ul img:hover {
    background: #c9e8f7;
    position: relative;
}

.fa-remove {
    padding-right: 20px;
    color: red;
    size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000000000000000000000000000;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #FFFFFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#fname, .modal select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4c5baf;
    border-radius: 2px;
    box-sizing: border-box;
}

#fbutton {
    width: 80%;
    background-color: #4c5baf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:inline-block;
}

#fbutton:hover {
    background-color: #AAABBB;
}

textarea {
    resize: none;
}

#myBtn {
    padding: 5px 30px;

    border-radius: 10px;
    background-color: #FFF;
    border-color: #4c5baf;
}

#myBtn:hover {
    background: #4c5baf;
    box-shadow: 0px 2px 15px 5px white;
    color: white;
}
#collectionContainer{
    display: inline-block;
}
.collectionItem{
    display: flex;
}
.collectionItem span{
    display:none;
}
.collectionText{

    flex-direction: row;
    width: 20%;
    height: 20%;
}
.collectionItem img{

    width: 20%;
    height: 20%;
    align:left;
}